:root {
  --fbds-base-surface: #ffffff;
  --fbds-on-base-surface-low: #757777;
  --fbds-on-base-surface-medium: #484848;
  --fbds-on-base-surface-high: #0a0a0a;
  --fbds-state-layer-base-surface-hover: rgb(from var(--fbds-base-surface) r g b / 10%);
  --fbds-state-layer-base-surface-press: rgb(from var(--fbds-base-surface) r g b / 16%);

  --fbds-base-surface-inverted: #0a0a0a;
  --fbds-on-base-surface-inverted-low: #565656;
  --fbds-on-base-surface-inverted-medium: #757777;
  --fbds-on-base-surface-inverted-high: #f7f7f7;
  --fbds-state-layer-base-surface-inverted-hover: rgb(
    from var(--fbds-base-surface-inverted) r g b / 10%
  );
  --fbds-state-layer-base-surface-inverted-press: rgb(
    from var(--fbds-base-surface-inverted) r g b / 16%
  );

  --fbds-surface-elevation-neutral-lowest: #f7f7f7;
  --fbds-surface-elevation-neutral-low: #ededed;
  --fbds-surface-elevation-neutral-medium: #e2e2e2;
  --fbds-surface-elevation-neutral-high: #d7d7d7;
  --fbds-surface-elevation-neutral-highest: #cccccc;

  --fbds-surface-elevation-primary-lowest: #f9fbff;
  --fbds-surface-elevation-primary-low: #f2f7ff;
  --fbds-surface-elevation-primary-medium: #e5efff;
  --fbds-surface-elevation-primary-high: #d8e7ff;
  --fbds-surface-elevation-primary-highest: #cadfff;

  --fbds-base-primary: #2468d5;
  --fbds-on-base-primary: #ffffff;
  --fbds-state-layer-base-primary-hover: rgb(from var(--fbds-base-primary) r g b / 10%);
  --fbds-state-layer-base-primary-press: rgb(from var(--fbds-base-primary) r g b / 16%);

  --fbds-base-alert: #d62424;
  --fbds-on-base-alert: #ffffff;
  --fbds-state-layer-base-alert-hover: rgb(from var(--fbds-base-alert) r g b / 10%);
  --fbds-state-layer-base-alert-press: rgb(from var(--fbds-base-alert) r g b / 16%);

  --fbds-base-warning: #d69824;
  --fbds-on-base-warning: #302003;
  --fbds-state-layer-base-warning-hover: rgb(from var(--fbds-base-warning) r g b / 10%);
  --fbds-state-layer-base-warning-press: rgb(from var(--fbds-base-warning) r g b / 16%);

  --fbds-base-success: #24d624;
  --fbds-on-base-success: #033003;
  --fbds-state-layer-base-success-hover: rgb(from var(--fbds-base-success) r g b / 10%);
  --fbds-state-layer-base-success-press: rgb(from var(--fbds-base-success) r g b / 16%);

  --fbds-base-info: #2468d5;
  --fbds-on-base-info: #ffffff;
  --fbds-state-layer-base-info-hover: rgb(from var(--fbds-base-info) r g b / 10%);
  --fbds-state-layer-base-info-press: rgb(from var(--fbds-base-info) r g b / 16%);

  --fbds-base-disable: #bfbfbf;
  --fbds-on-base-disable: #666666;

  --fbds-container-primary: #e5efff;
  --fbds-on-container-primary: #06327a;
  --fbds-state-layer-container-primary-hover: rgb(from var(--fbds-container-primary) r g b / 10%);
  --fbds-state-layer-container-primary-press: rgb(from var(--fbds-container-primary) r g b / 16%);

  --fbds-container-alert: #ffe5e5;
  --fbds-on-container-alert: #7a0606;
  --fbds-state-layer-container-alert-hover: rgb(from var(--fbds-container-alert) r g b / 10%);
  --fbds-state-layer-container-alert-press: rgb(from var(--fbds-container-alert) r g b / 16%);

  --fbds-container-warning: #fff6e5;
  --fbds-on-container-warning: #7a5106;
  --fbds-state-layer-container-warning-hover: rgb(from var(--fbds-container-warning) r g b / 10%);
  --fbds-state-layer-container-warning-press: rgb(from var(--fbds-container-warning) r g b / 16%);

  --fbds-container-success: #e5ffe5;
  --fbds-on-container-success: #067a06;
  --fbds-state-layer-container-success-hover: rgb(from var(--fbds-container-success) r g b / 10%);
  --fbds-state-layer-container-success-press: rgb(from var(--fbds-container-success) r g b / 16%);

  --fbds-container-info: #e5efff;
  --fbds-on-container-info: #06327a;
  --fbds-state-layer-container-info-hover: rgb(from var(--fbds-container-info) r g b / 10%);
  --fbds-state-layer-container-info-press: rgb(from var(--fbds-container-info) r g b / 16%);

  --fbds-container-accent-1: #eee5ff;
  --fbds-on-container-accent-1: #2a067a;
  --fbds-state-layer-container-accent-1-hover: rgb(from var(--fbds-container-accent-1) r g b / 10%);
  --fbds-state-layer-container-accent-1-press: rgb(from var(--fbds-container-accent-1) r g b / 16%);

  --fbds-container-accent-2: #ffe5ee;
  --fbds-on-container-accent-2: #7a062e;
  --fbds-state-layer-container-accent-2-hover: rgb(from var(--fbds-container-accent-2) r g b / 10%);
  --fbds-state-layer-container-accent-2-press: rgb(from var(--fbds-container-accent-2) r g b / 16%);

  --fbds-container-accent-3: #e5fffc;
  --fbds-on-container-accent-3: #067a6e;
  --fbds-state-layer-container-accent-3-hover: rgb(from var(--fbds-container-accent-3) r g b / 10%);
  --fbds-state-layer-container-accent-3-press: rgb(from var(--fbds-container-accent-3) r g b / 16%);

  --fbds-container-accent-4: #f6ffe5;
  --fbds-on-container-accent-4: #537a06;
  --fbds-state-layer-container-accent-4-hover: rgb(from var(--fbds-container-accent-4) r g b / 10%);
  --fbds-state-layer-container-accent-4-press: rgb(from var(--fbds-container-accent-4) r g b / 16%);

  --fbds-border-low: #eaeaea;
  --fbds-border-medium: #c6c9d0;
  --fbds-border-high: #6a7282;

  --fbds-overlay: #1111117f;

  --fbds-scrollbar: #7272727f;

  --fbds-state-layer-low-hover: rgb(#fff / 10%);
  --fbds-state-layer-low-press: rgb(#fff / 16%);
  --fbds-state-layer-high-hover: rgb(#000 / 10%);
  --fbds-state-layer-high-press: rgb(#000 / 16%);
}

[theme='dark'] {
  --fbds-base-surface: #0a0a0a;
  --fbds-on-base-surface-low: #78787c;
  --fbds-on-base-surface-medium: #b9b9bb;
  --fbds-on-base-surface-high: #fafafa;
  --fbds-state-layer-base-surface-hover: rgb(from var(--fbds-base-surface) r g b / 10%);
  --fbds-state-layer-base-surface-press: rgb(from var(--fbds-base-surface) r g b / 16%);

  --fbds-base-surface-inverted: #f7f7f7;
  --fbds-on-base-surface-inverted-low: #454545;
  --fbds-on-base-surface-inverted-medium: #2c2d2f;
  --fbds-on-base-surface-inverted-high: #0a0a0a;
  --fbds-state-layer-base-surface-inverted-hover: rgb(
    from var(--fbds-base-surface-inverted) r g b / 10%
  );
  --fbds-state-layer-base-surface-inverted-press: rgb(
    from var(--fbds-base-surface-inverted) r g b / 16%
  );

  --fbds-surface-elevation-neutral-lowest: #111111;
  --fbds-surface-elevation-neutral-low: #181819;
  --fbds-surface-elevation-neutral-medium: #1f1f20;
  --fbds-surface-elevation-neutral-high: #262628;
  --fbds-surface-elevation-neutral-highest: #2c2d2f;

  --fbds-surface-elevation-primary-lowest: #0e1216;
  --fbds-surface-elevation-primary-low: #111923;
  --fbds-surface-elevation-primary-medium: #15212f;
  --fbds-surface-elevation-primary-high: #18283c;
  --fbds-surface-elevation-primary-highest: #1c3048;

  --fbds-base-primary: #a0bded;
  --fbds-on-base-primary: #062e6f;
  --fbds-state-layer-base-primary-hover: rgb(from var(--fbds-base-primary) r g b / 10%);
  --fbds-state-layer-base-primary-press: rgb(from var(--fbds-base-primary) r g b / 16%);

  --fbds-base-alert: #eda1a1;
  --fbds-on-base-alert: #6f0606;
  --fbds-state-layer-base-alert-hover: rgb(from var(--fbds-base-alert) r g b / 10%);
  --fbds-state-layer-base-alert-press: rgb(from var(--fbds-base-alert) r g b / 16%);

  --fbds-base-warning: #edd2a1;
  --fbds-on-base-warning: #6f4a06;
  --fbds-state-layer-base-warning-hover: rgb(from var(--fbds-base-warning) r g b / 10%);
  --fbds-state-layer-base-warning-press: rgb(from var(--fbds-base-warning) r g b / 16%);

  --fbds-base-success: #a1eda1;
  --fbds-on-base-success: #066f06;
  --fbds-state-layer-base-success-hover: rgb(from var(--fbds-base-success) r g b / 10%);
  --fbds-state-layer-base-success-press: rgb(from var(--fbds-base-success) r g b / 16%);

  --fbds-base-info: #a0bded;
  --fbds-on-base-info: #062e6f;
  --fbds-state-layer-base-info-hover: rgb(from var(--fbds-base-info) r g b / 10%);
  --fbds-state-layer-base-info-press: rgb(from var(--fbds-base-info) r g b / 16%);

  --fbds-base-disable: #e6e6e6;
  --fbds-on-base-disable: #808080;

  --fbds-container-primary: #131c2a;
  --fbds-on-container-primary: #5294ff;
  --fbds-state-layer-container-primary-hover: rgb(from var(--fbds-container-primary) r g b / 10%);
  --fbds-state-layer-container-primary-press: rgb(from var(--fbds-container-primary) r g b / 16%);

  --fbds-container-alert: #2a1313;
  --fbds-on-container-alert: #ff5252;
  --fbds-state-layer-container-alert-hover: rgb(from var(--fbds-container-alert) r g b / 10%);
  --fbds-state-layer-container-alert-press: rgb(from var(--fbds-container-alert) r g b / 16%);

  --fbds-container-warning: #2a2213;
  --fbds-on-container-warning: #ffc252;
  --fbds-state-layer-container-warning-hover: rgb(from var(--fbds-container-warning) r g b / 10%);
  --fbds-state-layer-container-warning-press: rgb(from var(--fbds-container-warning) r g b / 16%);

  --fbds-container-success: #132a13;
  --fbds-on-container-success: #52ff52;
  --fbds-state-layer-container-success-hover: rgb(from var(--fbds-container-success) r g b / 10%);
  --fbds-state-layer-container-success-press: rgb(from var(--fbds-container-success) r g b / 16%);

  --fbds-container-info: #131c2a;
  --fbds-on-container-info: #5294ff;
  --fbds-state-layer-container-info-hover: rgb(from var(--fbds-container-info) r g b / 10%);
  --fbds-state-layer-container-info-press: rgb(from var(--fbds-container-info) r g b / 16%);

  --fbds-container-accent-1: #1a132a;
  --fbds-on-container-accent-1: #8952ff;
  --fbds-state-layer-container-accent-1-hover: rgb(from var(--fbds-container-accent-1) r g b / 10%);
  --fbds-state-layer-container-accent-1-press: rgb(from var(--fbds-container-accent-1) r g b / 16%);

  --fbds-container-accent-2: #2a131b;
  --fbds-on-container-accent-2: #ff528e;
  --fbds-state-layer-container-accent-2-hover: rgb(from var(--fbds-container-accent-2) r g b / 10%);
  --fbds-state-layer-container-accent-2-press: rgb(from var(--fbds-container-accent-2) r g b / 16%);

  --fbds-container-accent-3: #132a28;
  --fbds-on-container-accent-3: #52ffee;
  --fbds-state-layer-container-accent-3-hover: rgb(from var(--fbds-container-accent-3) r g b / 10%);
  --fbds-state-layer-container-accent-3-press: rgb(from var(--fbds-container-accent-3) r g b / 16%);

  --fbds-container-accent-4: #222a13;
  --fbds-on-container-accent-4: #c5ff52;
  --fbds-state-layer-container-accent-4-hover: rgb(from var(--fbds-container-accent-4) r g b / 10%);
  --fbds-state-layer-container-accent-4-press: rgb(from var(--fbds-container-accent-4) r g b / 16%);

  --fbds-border-low: #353941;
  --fbds-border-medium: #6a7282;
  --fbds-border-high: #c2c6cd;

  --fbds-overlay: #1111117f;

  --fbds-scrollbar: #8c8c8c7f;

  --fbds-state-layer-low-hover: rgb(#000 / 10%);
  --fbds-state-layer-low-press: rgb(#000 / 16%);
  --fbds-state-layer-high-hover: rgb(#fff / 10%);
  --fbds-state-layer-high-press: rgb(#fff / 16%);
}
