/* ------------------------------ HankenGrotesk ----------------------------- */
$font-weights: (
  100: Thin,
  200: ExtraLight,
  300: Light,
  400: Regular,
  500: Medium,
  600: SemiBold,
  700: Bold,
  800: ExtraBold,
  900: Black,
);

// @each $weight, $name in $font-weights {
//   @font-face {
//     font-family: 'HankenGrotesk';
//     font-weight: $weight;
//     src: url('@/assets/fonts/HankenGrotesk-#{$name}.ttf');
//   }
// }

// :root {
//   --fbds-font-family: 'Hanken Grotesk', sans-serif;
// }

/* ---------------------------------- Inter --------------------------------- */
@each $weight in $font-weights {
  @font-face {
    font-family: 'Inter';
    font-weight: $weight;
    src: url('@/assets/fonts/Inter-VariableFont.ttf');
  }
}

:root {
  --fbds-font-family: 'Inter', sans-serif;
}

/* ------------------------------ Typographies ------------------------------ */

/* Heading */

.fbds-font-heading-xl {
  font-family: var(--fbds-font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: -0.64px;
}

.fbds-font-heading-lg {
  font-family: var(--fbds-font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.33px;
}

.fbds-font-heading-md {
  font-family: var(--fbds-font-family);
  font-weight: 600;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.33px;
}

/* Button */

.fbds-font-button {
  font-family: var(--fbds-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0px;
}

.fbds-font-button-sm {
  font-family: var(--fbds-font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0px;
}

/* Link */

.fbds-font-link {
  font-family: var(--fbds-font-family);
  font-weight: 400;
  font-size: 13.5px;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* Label */

.fbds-font-label-prominent {
  font-family: var(--fbds-font-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0px;
}

.fbds-font-label {
  font-family: var(--fbds-font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0px;
}

.fbds-font-label-subtle {
  font-family: var(--fbds-font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* Body */

.fbds-font-body-prominent {
  font-family: var(--fbds-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0px;
}

.fbds-font-body {
  font-family: var(--fbds-font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* Overline */

.fbds-font-overline {
  font-family: var(--fbds-font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.66px;
}

.fbds-font-overline-dense {
  font-family: var(--fbds-font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.55px;
}

/* Caption */

.fbds-font-caption-prominent {
  font-family: var(--fbds-font-family);
  font-weight: 500;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.66px;
}

.fbds-font-caption {
  font-family: var(--fbds-font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.66px;
}
