$font-weights: (
  100: Thin,
  200: ExtraLight,
  300: Light,
  400: Regular,
  500: Medium,
  600: SemiBold,
  700: Bold,
  800: ExtraBold,
  900: Black,
);

@each $weight, $name in $font-weights {
  @font-face {
    font-family: 'HankenGrotesk';
    font-weight: $weight;
    src: url('@/assets/fonts/HankenGrotesk-#{$name}.ttf');
  }
}

/* ------------------------------ Typographies ------------------------------ */
:root {
  --fbds-font-family: 'Hanken Grotesk', sans-serif;
}

.fbds-font-display-large {
  font-family: var(--fbds-font-family);
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.fbds-font-display-medium {
  font-family: var(--fbds-font-family);
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0px;
}

.fbds-font-display-small {
  font-family: var(--fbds-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0px;
}

.fbds-font-headline-large {
  font-family: var(--fbds-font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0px;
}

.fbds-font-headline-medium {
  font-family: var(--fbds-font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0px;
}

.fbds-font-headline-small {
  font-family: var(--fbds-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}

.fbds-font-title-large {
  font-family: var(--fbds-font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}

.fbds-font-title-medium {
  font-family: var(--fbds-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.fbds-font-title-small {
  font-family: var(--fbds-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.fbds-font-label-large-prominent {
  font-family: var(--fbds-font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.fbds-font-label-large {
  font-family: var(--fbds-font-family);
  font-weight: medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.fbds-font-label-medium-prominent {
  font-family: var(--fbds-font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.fbds-font-label-medium {
  font-family: var(--fbds-font-family);
  font-weight: medium;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.fbds-font-body-large {
  font-family: var(--fbds-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.fbds-font-body-medium {
  font-family: var(--fbds-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.fbds-font-body-small {
  font-family: var(--fbds-font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
